html {
    background-image: url(images/background.jpg); /* Image sourced from shutterstock.com */
    background-repeat: no-repeat; /* Prevents the image from tiling */
    background-size: cover; /* Scales image to fill the page without distortion */
    background-position: center; /* Centers the image within the element */
    background-attachment: fixed; /* Keeps background fixed during scroll */
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 50px;
    display: flex; 
    flex-direction: column
}

header {
    font-size: clamp(1em, 2vw, 2vw); /* Sets a minimum, preferred and maximum size for the header. I set the minimum to 1em so that as the screen gets smaller so does the text, but only to a point so it doesn't get too small to look weird or unreadable as it would if it was always displaying at 2vw */
    text-align: center;
    background-color: rgb(255, 243, 198);
    border-radius: 15px; /* Curves the edges of the header */
}

header h1 {
    color: rgb(255, 176, 40);
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none; /* Removes underline */
    background-color: rgb(207, 232, 255);
    display: flex;
    padding: 1em;
    border-radius: 15px; /* Curves the edges of the nav elements */
    margin: 20px;
    color: rgb(110, 159, 202);
    font-weight: bold;
}

nav a:hover{ /* Darkens the element when hovered over */
    background-color: rgb(158, 176, 194);
	color: rgb(67, 109, 145);
}

#Page {
    display: flex; /* Makes the page container a flexbox */
    padding: 1em;
    background-color: rgb(255, 243, 198);
    align-items: center;
    border-radius: 15px; /* Curves the edges of the page */
}

footer {
    display: flex; /* Makes the footer container a flexbox */
    height: 40px;
    background-color: black;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    border-radius: 15px; /* Curves the edges of the footer */
    margin-top: 20px;
}

footer ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

footer li {
    display: inline; /* Display list items in a horizontal line */
    margin-left: 10px; /* Add some spacing between items */
    margin-right: 10px;
}

footer a {
    text-decoration: none; /* Removes underline from links */
    color: rgb(255, 255, 255);
}

footer a:hover { /* Darkens the element when hovered over */
    background-color: #aeaeae;
    color: #383838;
}